.button-color{
    background: rgb(72 71 143);
    color: white;
}
.button-color:hover{
    opacity: 0.8;
}
.btn:active{
    background: rgb(72 71 143);
    color: white
}
.label{
    color: rgb(72 71 143);
    font-size: 20px;
    font-weight: 500;
}